<div class="main">
  <div class="resum">
    <h2><i class="fa fa-home" aria-hidden="true"></i> My Resunme</h2>
  </div>
  <div class="name">
    <h2>Afolabi <i>Seyi</i> Samson</h2>
  </div>
</div>
<div class="img">
  <img [src] = myimage1>
</div>

<div class="contain">
  <div class="con">
    <h2>Certificate</h2>
    <p><strong>1.	Chartered Institute of Customer Relationship Management</strong>
      Certified Customer Service Professional <i>2016 – 2017</i>
    </p>
    <p><strong>2.	Chartered Institute Of Customer Relationship Management</strong>
      Chartered Post Graduate Diploma in Customer Relationship Management <i>2016 – 2017</i>
    </p>
    <p><strong>3.	Excel Computer Institute, Ahiara Junction, Mbaise, Imo State</strong>
      Computer literacy and application (Distinction) <i>2017</i>
    </p>
  </div>
</div>

<nav>
  <a routerLink="/career" routerLinkActive="active">Career</a>
  <a routerLink="/personal" routerLinkActive="active">Personal</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/skills" routerLinkActive="active">Skills</a>
  <a routerLink="/strength" routerLinkActive="active">Pictures</a>
</nav>

<router-outlet></router-outlet>