<div class="career">
    <h3>CAREER SUMMARY</h3>
    <p>
        It is no coincidental he ended up studying a specialized course,
        the taste for accuracy and precision in his endeavors led him to
        a wider search for knowledge and acquisition of enough skills.
        This self-driven and resilience attribute made him develop other
        attributes like good communication, interpersonal skills,
        inquisition, and a very wide knowledge in the field of banking
        and finance. He has the ability to work under stress, and also
        possess good leadership quality.
    </p>
    <div class="img">
        <img [src] = myimage2>
    </div>
</div>
