.container{
    width: 100%;
}
.contain{
    text-align: center;
}
.contain p i{
    font-weight: bolder;
    color: red;
}
.contain h1{
    background-color: oldlace;
    border-radius: 5px;
}
.img img{
    width: 100%;
    height: 210px;
}

@media screen and (min-width: 600px){
    .img img{
        height: 240px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 800px){
    .contain{
        font-size: 20px;
    }
    .img img{
        height: 280px;
    }
}