<div class="personal">
    <h3>Personal Information</h3>
    <div class="person">
        <ul>
            <li><strong>DATE OF BIRTH:</strong> JANUARY 20, 1990</li>
            <li><strong>GENDER:</strong> MALE</li>
            <li><strong>MARITAL STATUS:</strong> SINGLE</li>
            <li><strong>STATE OF ORIGIN:</strong> ONDO STATE</li>
            <li><strong>LGA OF ORIGIN:</strong> ONDO WEST</li>
            <li><strong>SPECIALISATION:</strong> BANKING AND FINANCE</li>
            <li><strong>NYSC STATUS:</strong> COMPLETED</li>
        </ul>
    </div>
    <div class="img">
        <img [src]="myimage3">
    </div>
</div>
