<div class="container">
    <div class="contain">
        <ul>
            <li><a> CSS ></a></li>
            <li><a> HTML ></a></li>
            <li><a> Bootstrap ></a></li>
            <li><a> Java Script ></a></li>
            <li><a> Electrician ></a></li>
            <li><a> Office Suite ></a></li>
            <li><a> Videography ></a></li>
            <li><a> Video Editing ></a></li>
        </ul>

        <div class="img">
            <img [src]="myimage5">
        </div>
    </div>
</div>
