/* You can add global styles to this file, and also import other style files */
nav{
    
}
nav a:hover{
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
    background-color: whitesmoke;
    border-bottom: none;
}
nav a{
    text-decoration: none;
    background-color: thistle;
    border-radius: 1px;
    border-bottom: 1px solid black;
    width: 100%;
}
*{
    padding: 0px;
}
@media screen and (min-width: 600px){
    nav{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    nav{
        
    }
}